.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.input {
  border: 1px solid black;
  background-color: #27272a;
  padding: 11px;
  border-radius: 8px;
  /* margin-bottom: 8px; */
}

.error {
  color: crimson;
  font-size: 0.8rem;
}
